@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-theme-basic: #b5967c;
  --color-theme-hover: #e9c09f;
  --padding-1-2: 1rem 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* TODO change gray bg => black */
  background-color: black;
  background-image: url(./images/summa_bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* COMMON */
h2 {
  font-family: 'Dancing Script', cursive;
  color: var(--color-theme-basic);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

p {
  max-width: 800px;
  font-family: 'Roboto';
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
}

/* NAVIGAATIO */

nav {
  background-color: black;
  padding: var(--padding-1-2);
  width: 100vw;
  position: fixed;
}

.nav-inner {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo > img {
  max-height: 3rem;
  height: 100%;
}

.burger {
  color: var(--color-theme-basic);
  cursor: pointer;
  transition: all 0.2s;
}

.burger:hover {
  color: var(--color-theme-hover);
}

/* MENU */

.menu {
  position: fixed;
  display: none;
  flex-flow: column;
  height: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-theme-basic);
  padding: var(--padding-1-2);
  overflow: hidden;
  z-index: 150;
}

.menu.open {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.close-menu {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  transition: all 0.2s;
}

.close-menu:hover {
  color: var(--color-theme-hover);
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.menu-items > * {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  transition: all 0.2s;
}

.menu-items > *:hover {
  color: var(--color-theme-hover);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.social a {
  margin: 0 1rem 0 1rem;
}

.social a > img {
  width: 200%;
  max-width: 2.5rem;
  min-width: 1.2rem;
  filter: brightness(1);
  transition: all 0.2s;
}

.social a > img:hover {
  filter: brightness(0.7);
}

/* HEADER */

.header-container {
  height: 100vh;
  background-image: url(./images/album_cover.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.order-now {
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--color-theme-basic);
  color: var(--color-theme-basic);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

.order-now:hover {
  color: var(--color-theme-hover);
  border-bottom: 2px solid var(--color-theme-hover);
}

/* STORY */

.story-container {
  background-color: black;
}

.story-container p {
  text-align: center;
}

/* GIGS */

.gigs-container li {
  color: var(--color-theme-basic);
}

.gigs-container li p {
  color: white;
  margin-bottom: 1rem;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 6rem 2rem 5rem 2rem;
}

footer > * {
  margin-bottom: 1rem;
}

footer .social {
  margin-top: 0;
}

footer p {
  font-size: 14px;
  color: gray;
  text-align: center;
}

footer p.contact {
  color: var(--color-theme-basic);
  font-size: 1rem;
}
